/* Set background-color, width, and font-color of header and footer. */
header, footer {
	width: 100%;
	background-color: #0C1445;
	color: white;
}

/* Format the header's position and display. */
header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 500;
	margin-top: 0;
}

/* Formats the size, color, and font-size of the footer. */
footer {
	text-align: center;
	font-size: 14px;
	padding: 20px 0;
	color: #545a7c;
}

footer ul li {
	list-style: none;
	display: inline-block;
}

/* Navigation bar, featuring the 'Home', 'Car Inventory', 'About', and 'Contact' headings.
	Features clickable links that navigate between each page. */
.navbar {
	overflow: auto;
	vertical-align: top;
	z-index: 500;
	position: sticky;
	top: 0;
	background-color: #636363;
	text-align: center;
}

/* Order the items into a single vertical line */
nav ul li {
	list-style: none;
	display: inline-block;
}

/* Formats the text within the navigation bar. */
nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 0 15px;
	text-transform: uppercase;
}