body {
    background-image: url('palmsbackground.JPG'); /* Ensure the file is in the same directory */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
